handler: @CONFIG_DIR@/logparse.py

environment:
  ###
  ### Uncomment the OPENAI_API_KEY line below and set your OpenAI API key there.
  ### See: https://help.openai.com/en/articles/4936850-where-do-i-find-my-secret-api-key
  ###
  #OPENAI_API_KEY: <uncomment-and-set-api-key-here>

  MODEL: gpt-4  # Alternative, gpt-3.5-turbo

  ### Set to true to examine bot's interaction with OpenAI
  VERBOSE: false

  ### Number of log lines to look at for each service
  # NUM_LOG_LINES: 10
  
  ### List of log files for services
  LOG_mysql: /var/log/mysql/mysql.log
  LOG_nginx: /var/log/nginx/error.log
  LOG_system: /var/log/syslog

# Only respond in channels listed here
channels:
  - logparse
